:root {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; 
    color: white; 
    background-color: black; 
}

table {
    text-align: left; 
}

th {
    padding-right: 12px; 
}